h1{
  font-family:cursive;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


/* MAP */
#map {
       width: 100%;
       height: 400px;
       background-color: grey;
     }
