<!-- fandango/fandagno/templates/base.html -->
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- MAPS -->
    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">

    <link rel="stylesheet" type="text/css" href="{% static 'fandango/css/styles.css' %}">

  </head>
  <body>
    <div class="page-header">
      <h1>testy</h1>
    </div>
        <div class="container">

                <div class="row">
                    <div class="col-12">
                        <h1 class="display-4">Movies!</h1>
                          {% block content %}
                          {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      {% block movies %}
                      {% endblock %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                      {% block theaters %}
                      {% endblock %}
                    </div>
                </div>


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">

                    </ol>
                </nav>

        </div>
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static "fandango/js/scripts.js" %}"></script>
    <script src="{% static "fandango/js/creds.js" %}"></script>
    <script src="{% static "fandango/js/map.js" %}"></script>
{% endblock %}
  </body>
</html>


<!-- {% load humanize %}
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Lol wut</title>


  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <meta name="description" content="Learning Django">

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fandango/css/styles.css' %}">


</head>

<body>
  <body>
  <script src="js/scripts.js"></script>
  <div class="container">

</div>

  <div class="container">
  <script src="js/scripts.js"></script>
  <h1> TRYING</h1>
  <p>Theaters: {{theater_count}}</p>

  <p>Movies: {{movie_count}}</p>
  <p>Showtimes: {{showtime_count}}</p>
  <h2>my very best</h2>
  <p>halp</p>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html> -->
