{% extends "base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "movies:home" %}">Home</a></li>
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block movies %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>{{ objects.count }} {{ list_type }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  {% for o in objects %}
                    <tr>
                        <td>
                              <a href="{{ o.get_absolute_url }}">
                                  {{ o }}
                              </a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>


{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
{% endblock %}
