{% extends "base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "movies:home" %}">Home</a></li>
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block movies %}




<h1 class="feature">What to Watch in <span class="durham">Durham, NC</span></h1>


    <div class="row row1">
        <div class="col-12">
</div>
                  {% for o in objects %}



                                <div class="row row1">
                                  <div class="col-md-8 mvt-poster">
                                  <a href="/details/{{ o.movie_id }}">
                                    <img src="https://{{ o.poster }}" style="width: 150px; max-height:220px;">
                                  </a>
                                </div>
                                  <div class="col-md-5 mvt">
                                    <a href="/details/{{ o.movie_id }}"><h4 class="tile">{{ o.title }}: <span class="thin"> {{ s.time }}7:45 P.M.</span></h4></a>












                                  </div>
                                </div>


                  {% endfor %}

        </div>



{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

{% endblock %}
