{% extends "base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "movies:home" %}">Home</a></li>
    <li class="breadcrumb-item active">Theater Details: {{name}}</li>
{% endblock %}

{% block content %}
<div class="row">



    <div class="col-md-12">
       <h1 class="feature feat">Now Showing at <span class="durham">{{ name }}</span></h1>


         <h1 class="feature feat" style="font-size:18pt;">Theater Address: <span class="add"> Address {{ address }}</span></h1>



    </div>

  <div class="row">
    {% for o in movies %}

      <div class="row row1">
        <div class="col-md-8 mvt-poster">
        <a href="/details/{{ o.movie_id }}">
          <img src="{{ o.poster }}" style="width: 150px; max-height:220px;">
        </a>
      </div>
        <div class="col-md-5 mvt">
          <a href="/details/{{ o.movie_id }}"><h4 class="tile">{{ o.title }} <span class="thin"> </span></h4></a>

        </div>
      </div>


    {% endfor %}

  </div>
</div>

{% endblock %}
